
<section class="box-typical">
    <header class="box-typical-header">
        <div class="tbl-row">
            <div class="tbl-cell tbl-cell-title">
                <h6 style="font-weight:normal; padding-right:8px;">Presentations in Seminars, Conferences & In-Service Mini-courses (Title of seminar and place)</h6>
            </div>
            <div class="tbl-cell tbl-cell-action-bordered">
                @*<button type="button" class="action-btn action-add" id="btnAddRowTableProfessionalDevelopment02">
                    <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add
                </button>*@
            </div>
        </div>

        <div class="modal fade crud5b-modal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="crud5a-modal"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="modal-close" data-dismiss="modal" aria-label="Close">
                            <i class="font-icon-close-2"></i>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">New</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formCrud5b">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold" for="inputCrud5bDate">Date</label>
                                        <input type="text" class="form-control date-mask-input" id="inputCrud5bDate" name="inputCrud5bDate" placeholder="__/__/____" required date="true">
                                        <span>MM/DD/YYYY</span>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold">Description</label>
                                        <textarea rows="4" class="form-control" placeholder="" id="inputCrud5bDescription" name="inputCrud5bDescription" required></textarea>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold">Details</label>
                                        <textarea rows="4" class="form-control" placeholder="" id="inputCrud5bDetails" name="inputCrud5bDetails" required></textarea>
                                    </fieldset>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label class="form-label semibold">Upload</label>
                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                            <span class="btn btn-primary btn-file btn-block">
                                                <span>Click here to select the file(s)</span>
                                                <input type="file" id="inputCrud5bFile" name="inputCrud5bFile" required />
                                            </span>
                                            <span class="fileinput-filename"></span>
                                            <span class="fileinput-new">No file chosen</span>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-rounded btn-default" data-dismiss="modal" data-toggle="tooltip" data-title="Cancel" data-placement="top" disabled="disabled">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <button type="button" id="btnCrud5bSave" class="btn btn-rounded btn-primary ladda-button" data-toggle="tooltip" data-title="Save" data-placement="top" data-style="zoom-in" disabled="disabled">
                            <span class="ladda-label"><span class="glyphicon glyphicon-ok"></span></span>

                        </button>
                    </div>
                </div>
            </div>
        </div><!--.modal-->
    </header>
    <div class="">
        <div class="table-responsive">
            <table class="table table-hover table-professional-development-02">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Details</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody class="tbody-professional-development-02">
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="4">
                                <div class="alert alert-warning">
                                    There are no records.
                                </div>
                            </td>
                        </tr>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <tr class="row-table-professional-development-02" data-selfeval-ano="@item.Ano" data-selfeval-tipo="@item.Tipo" data-selfeval-nseq="@item.Nseq">
                                <td class="table-date content-date">
                                    @item.Data.Date.ToString("dd/MM/yyyy")
                                </td>
                                <td class="color-blue-grey-lighter content-description">@item.Description</td>
                                <td class="color-blue-grey-lighter content-details">@item.Details</td>
                                <td class="table-icon-cell text-right">
                                    @if (@item.Imagem != null)
                                    {
                                        <button class="label-show-image btn btn-sm btn-info btn-rounded" data-toggle="modal" data-target=".modalShowImagem" data-appbasepath="@item.Imagem.AppBasepath" data-basepath="@item.Imagem.Basepath" data-filename="@item.Imagem.Filename">
                                            <i class="glyphicon glyphicon-picture"></i>
                                        </button>
                                    }
                                    @*<span class="label label-pill label-warning label-edit">
                                            <i class="fa fa-pencil-square-o"></i>
                                        </span>*@
                                    <button class="label-remove btn btn-sm btn-danger btn-rounded" disabled="disabled">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div><!--.box-typical-body-->
</section><!--.box-typical-->