<h6 class="m-t-lg">
    1. What were the most significant work-related accomplishments or successful efforts over the last period? (projects, assignments, new skills or knowledge gained) Which standard(s) would you relate them to? Why?
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionA" disabled="disabled">@Model.FinalReflectionA</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->

<h6 class="m-t-lg">
    2. What factors impacted your job or your ability to perform your job? What could you do to perform your job duties more effectively? What could the institution have done to facilitate your job?
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionB" disabled="disabled">@Model.FinalReflectionB</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->

<h6 class="m-t-lg">
    3. Analyze the descriptors for the <a href="#" data-toggle="modal" data-target="#modalShowPDF">Standards for CTJ Teachers</a> and the criteria for evaluating each standard.
</h6>

<h6 class="m-t-lg">
    a. Which standard(s) do you think you have reached to your greater satisfaction? Justify your answer with evidence.
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionC" disabled="disabled">@Model.FinalReflectionC</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->
<h6 class="m-t-lg">
    b. Which standard, if any, do you think you still need to work on in order to achieve it fully? What strategies can you use in the future to improve your performance regarding this specific standard?
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionD" disabled="disabled">@Model.FinalReflectionD</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->
<h6 class="m-t-lg">
    c. In which standard do you think you have exceeded? Justify your answer with evidence.
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionE" disabled="disabled">@Model.FinalReflectionE</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->


<h6 class="m-t-lg">
    4. Complete the statement.
</h6>

<h6 class="m-t-lg">
    a. My objectives for the coming year are:
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionF" disabled="disabled">@Model.FinalReflectionF</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->

<h6 class="m-t-lg">
    b. Please use this space to add any other information you find important about your performance in the year of 2016, or may have identified in this document.
</h6>
<div class="row">
    <div class="col-lg-12">
        <fieldset class="form-group">
            <div class="col-xs-12 col-textarea-auto-avaliacao">
                <textarea rows="6" class="form-control" placeholder="" @if (ViewBag.Mostar == false) { <text>disabled="disabled" </text> } id="inputFinalReflectionG" disabled="disabled">@Model.FinalReflectionG</textarea>
            </div>
        </fieldset>
    </div>
</div><!--.row-->

<div class="modal fade" id="modalShowPDF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Standards For CTJ Teachers</h4>
            </div>
            <div class="modal-body">
                <h6>Based on INDIANA Professional Standards Board and on TESOL Standards for Teachers of Adult Learners</h6>

                <p><strong>Standard #1: Planning</strong></p>
                <p>
                    Teachers plan instruction to promote learning and to meet the learners’ goals and needs, being capable of modifying and adjusting instruction plans in relation to learner engagement, achievement, age and proficiency level.
                </p>

                <p><strong>Performance indicators: </strong></p>

                <ul>
                    <li>identify and articulate language learning goals</li>
                    <li>design short-term and long-term plans to promote learning</li>
                    <li>integrate learners’ background (students' age, proficiency level) & prior knowledge in planning</li>
                    <li>integrate learners’ current interests in planning</li>
                    <li>integrate learner needs and styles in planning</li>
                    <li>organize lesson plans to allow enough time for student learning, review and assessment</li>
                    <li>select appropriate resources and activities to accomplish the learning objectives</li>
                    <li>design and sequence instructional strategies and activities for lesson coherence</li>
                    <li>establish expectations for student behavior</li>
                    <li>design activities that use and build on learners’ problem solving and critical thinking skills </li>
                    <li>design activities which are student-centered</li>
                    <li>use a variety of research-based strategies to help students become effective listeners, speakers, readers, writers and viewers (e.g. process writing approaches, reader-response questioning strategies, etc.)</li>
                    <li>design activities that integrate the four skills</li>
                </ul>
                <hr />
                <p><strong>Standard #2: Instructing </strong></p>
                <p>
                    Teachers draw on their knowledge of language learning to create a supportive environment that engages all learners in purposeful learning and that promotes respectful interaction among learners and between learners and teacher.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>organize and manage constructive interactions among learners</li>
                    <li>design and/or manage instructional (pedagogical) activities  to provide  input and practice of English structures and/or meaningful discussion of topics relevant to student schemata and interests</li>
                    <li>make effective use of instructional time</li>
                    <li>use instructional strategies and resources to deliver content </li>
                    <li>present concepts clearly</li>
                    <li>give clear and brief instructions</li>
                    <li>model “natural” language use</li>
                    <li>convey and maintain expectations for learner behavior</li>
                    <li>make learning goals explicit</li>
                    <li>use resources and strategies that use and build on learner’s reasoning, problem solving and critical thinking skills </li>
                    <li>help learners become independent and lifelong learners</li>
                    <li>adjust instruction when lessons are not working</li>
                    <li>use a variety of strategies to introduce, explain, and restate concepts and processes so that all students understand  </li>
                    <li>reflect-in-action and modify planned lessons to accommodate real time needs of learners</li>
                    <li>scaffold language and content</li>
                    <li>use the chalkboard as a teaching tool</li>
                    <li>encourage learners to use the target language all the time </li>
                    <li>provide learning experiences that promote autonomy and choice</li>
                    <li>encourage learners to develop and use strategies for knowing about, reflecting on, and monitoring their own learning  </li>
                    <li>provide learning experiences that respond to various rates of learning</li>
                    <li>encourage student learning through a variety of media such as text, audiovisual aids, internet access, word processing, desktop publishing, broadcast communications, etc.</li>
                    <li>integrate current media technology in support of a collaborative, interactive language classroom</li>
                    <li>select and encourage student selection of appropriate media and technology in support of learning as tools of inquiry </li>
                </ul>
                <hr />
                <p><strong>Standard #3: Learning </strong></p>
                <p>
                    Teachers draw on their knowledge of language and language learning to understand the processes by which learners acquire a new language in and out of classroom settings. They use this knowledge to support language learning.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>construct contexts in which language acquisition can take place</li>
                    <li>construct contexts in which learners can negotiate meaning through interactions with the teacher and one another </li>
                    <li>create situations where meaningful messages are exchanged</li>
                    <li>encourage learners to use the target language all the time </li>
                    <li>use instructional activities requiring learners to work both collaboratively and individually </li>
                    <li>Maximize student talking time</li>
                    <li>use a variety of grouping strategies to meet instructional goals</li>
                    <li>listen and respond to learner talk </li>
                    <li>promote student participation </li>
                    <li>ask questions to check for comprehension, facilitate discussion, and clarify student thinking </li>
                </ul>
                <hr />
                <p><strong>Standard #4: Assessing</strong></p>
                <p>
                    Teachers understand and use formal and informal assessment strategies to assess and ensure continuous language growth and use knowledge of student performance to make on-the-spot and future decisions about planning and instruction.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>recognize the importance of information about learner performance </li>
                    <li>gather, interpret, and document information about learner performance before, during, and at the end of instruction <strong>(grade book)</strong></li>
                    <li>gather and interpret information about learner background, preferences, and expectations</li>
                    <li>apply multiple types of assessment instruments (e.g., observation, rubrics, rating scales, checklists, anecdotal records, etc.) for classroom use</li>
                    <li>monitor learning as it happens in the classroom</li>
                    <li>involve learners in  the assessment process</li>
                    <li>use assessments that allow learners to demonstrate their learning </li>
                    <li>use learner feedback on instruction </li>
                    <li>evaluate the validity of the institutional assessment instruments <strong>(feedback on tests, etc.)</strong></li>
                    <li>provide constructive feedback to learners, based on assessments of their learning </li>
                    <li>explain these assessment and results clearly to students, parents, and others in the community of learning</li>
                    <li>use knowledge of English language structure to respond to student errors </li>
                </ul>
                <hr />
                <p><strong>Standard #5:  Interpersonal dynamics </strong></p>
                <p>
                    Teachers relate to how students differ in their approaches to learning language and create instructional opportunities that are adapted to diverse learners (ADD, dyslexia, etc.). Teachers evidence sensitivity to student identity in planning, instructing and assessing.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>respect the legitimacy and diversity of identities of  learners</li>
                    <li>react to the diversity of learner identities impact when planning, instructing, and assessing</li>
                    <li>use the diversity of  learners’ identities as a classroom resource</li>
                    <li>use instructional strategies and resources to address individual differences </li>
                    <li>employ praise of student participation in a manner which is timely, genuinely meaningful, and appropriate to the age and level of the learner</li>
                    <li>enliven the class participation and atmosphere by means of energizing  or empathy - directed gestures, body language, or humor</li>
                    <li>model and promote respectful, caring interactions which help maintain a classroom atmosphere that is conducive to learning</li>
                    <li>create an environment conducive to  learning </li>
                    <li>interact equitably and responsibly with  learners </li>
                    <li>acknowledge learners as children, adolescents or adults</li>
                    <li>establish classroom routines that encourage learners’ respect for each other </li>
                    <li>use appropriate seating arrangement for different activities</li>
                    <li>model and promote respectful, caring interactions </li>
                    <li>use instructional strategies that provide for the active engagement of students</li>
                </ul>
                <hr />
                <p><strong>Standard #6:  Language, content, culture and Digital Literacy </strong></p>
                <p>
                    Teachers demonstrate proficiency in speaking, listening, reading and writing in English. Teachers are able to speak English accurately and fluently so that they can participate effectively in formal and informal communication on a variety of topics. Teachers are sensitive to how they use their knowledge of the structure and function of language and the connections among language concepts in presenting content, assessing learners and correcting their errors. Teachers demonstrate interest in developing their digital skills for the effective use of current digital tools, as well as developing their critical use of technology to facilitate learning.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>vary register according to context</li>
                    <li>demonstrate proficiency in oral, written, and nonverbal English </li>
                    <li>demonstrate proficiency in social and academic English</li>
                    <li>serve as English language models for learners</li>
                    <li>demonstrate some knowledge of more than one variety of English </li>
                    <li>provide models of oral and written language as used in different contexts (i.e., pragmatics, discourse, and genre)</li>
                    <li>use resources that include a variety of Englishes </li>
                    <li>provide input and practice of socially and culturally appropriate language </li>
                    <li>adjust teacher talk to the English language level of the learner</li>
                    <li>model impartial attitudes towards cross cultural differences and/or conflicts </li>
                    <li>seek fluency in digital literacy, using new tools to enhance professional development through formal and informal training </li>
                    <li>demonstrate interest in using the digital tools available in the classroom and online to facilitate learning </li>
                    <li>make use of the technological resources appropriately and effectively, considering the teaching context, in order to integrate them with the learning goals of the lesson </li>
                    <li>communicate relevant information and ideas effectively to students, parents, peers, supervisors and coordinators, using a variety of digital-age media and formats.</li>
                </ul>

                <hr />
                <p><strong>Standard #7: Investment in academic development </strong></p>
                <p>
                    Teachers are reflective practitioners who continually evaluate the effects of their choices and actions on others (e.g., students, parents and other professionals in the learning community) and who actively seek out opportunities to grow professionally.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>attend conferences, workshops, continuing education classes, and other professional development opportunities in the EFL/ESL field. </li>
                    <li>take advantage of opportunities proposed by academic counselors and designed for professional growth <strong>(meetings with supervisors)</strong></li>
                    <li>read professional literature relevant to EFL/ESL instruction on a regular basis</li>
                    <li>reflect on teaching practice to continue to grow professionally <strong>– F2 + self evaluation</strong></li>
                    <li>investigate his/her own biases and seek to resolve problems that stem from areas of conflict – <strong>F2 + selfevaluation</strong></li>
                    <li>conduct research in the classroom which assists them in improving their practice </li>
                    <li>take responsibility for providing feedback to academic counselors regarding the development of academic action <strong>(feedback to supervisors on the outcomes of the course, preparation of extra exercises and/or activities)</strong></li>
                </ul>

                <hr />
                <p><strong>Standard #8: Professional Attitude and Commitment </strong></p>
                <p>
                    Teachers hold a professional attitude and evidence commitment coherent with the respected standards put forth by directing bodies of the institute.
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>respect hierarchy</li>
                    <li>collaborate creatively with the academic mission and objectives of the Institution </li>
                    <li>maintain a posture in the professional environment that contributes to fostering an atmosphere of mutual respect and academic solidarity</li>
                    <li>collaborate with colleagues by sharing materials and appropriately replacing them after their use</li>
                    <li>collaborate with peer observation</li>
                    <li>maintain judicious balance with regard to conflicting and controversial situations</li>
                    <li>embrace the pedagogical and institutional principles</li>
                    <li>prioritize the interests and goals of the institution <strong>(regular schools, organization of events, availability, flexibility)</strong></li>
                    <li>make a point to know and understand the institutional principles, services, products and operational procedures</li>
                </ul>
                <hr />
                <p><strong>Standard # 9: Compliance to rules and procedures established by the institution</strong></p>
                <p>
                    Teachers are cognizant of the guiding principles and operational particularities which govern the institute, and they adhere to these stipulations
                </p>

                <p><strong>Performance indicators: </strong></p>
                <ul>
                    <li>
                        understand, accept, and follow norms and procedures established by the institution i.e.
                        <ul>
                            <li>observes all aspects of institutionally regulated  punctuality </li>
                            <li>evidences exemplary posture with regard to recommended dress code, physical decorum</li>
                            <li>enforces institutional regulations regarding students’ attitudes (i.e.gum chewing,  slouching, using the cell phone, etc.) </li>
                            <li>meets bureaucratic deadline (grade book, test envelope, report cards, etc.) and procedural regulations </li>
                            <li>maintains update grade book record keeping in accordance with institutional  stipulations</li>
                            <li>returns test envelopes within stipulated time limits</li>
                            <li>punctually provides students with information and orientation and/or encouragement in keeping with the parameters provided by institutional report cards; keeps parents informed about their children’s below-average performance and collects these students’ report cards for the sake of contact documentation.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-rounded" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>