@model LoginModel
@{
    Layout = null;
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CTJEvaluation</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/Content/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    @Styles.Render("~/Content/css/main.css")
    @Styles.Render("~/Content/css/custom.css")
    @Styles.Render("~/Content/css/font-awesome/font-awesome.min.css")
    @Styles.Render("~/Content/css/sweetalert/sweetalert.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="page-center">
        <div class="page-center-in">
            <div class="container-fluid">
                <form class="sign-box" name="formLogin" action="~/Account/Login" method="post">
                    <div style="padding: 10px 0px 24px 0px;  margin: 0 auto; width: 200px;">
                        <img style="max-width: 200px;" src="@Url.Content("~/Content/img/logo-erp-portal.png")" alt="">
                    </div>
                    <div class="sign-avatar">
                        <img src="@Url.Content("~/Content/img/avatar-sign.png")" alt="">
                    </div>
                    <header class="sign-title">Please login</header>
                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "form-error-text-block" })
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" id="username" placeholder="User" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" />
                    </div>
                    <button type="submit" class="btn btn-rounded">
                        <span class="glyphicon glyphicon-log-in"></span>
                    </button>
                    @*<p class="sign-note">Esqueceu sua <a href="login2.html">senha?</a></p>*@
                    <!--<button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>-->
                </form>
            </div>
        </div>
    </div><!--.page-center-->
</body>
</html>